@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Meiryo", "Yu Gothic", "Hiragino Kaku Gothic ProN", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f5f5fa;
  user-select: none;
}

input {
  outline: none;
}
